form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-tweet {
  margin-top: 520px;
  width: 90%;
}

.tweet-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.tweet-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  width: 100%;
  margin-top: 0.5em;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: 0em;
  font-size: medium;
  padding: 0.25em 0.6em;
}

button:hover {
  box-shadow: 0em 0em 0.5em  rgb(0, 0, 0);
}

label {
  align-self: flex-start;
}

#tweet-text {
  background-color: #f4f1ec;
  border-right-width: 0em;
  border-left-width: 0em;
  border-top-width: 0em;
  border-bottom-width: 0.15em;
  height: 2.5em;
  width: 100%;
}

.error {
  display: flex;
  color: red;
  border: solid red 2px;
  justify-content: center;
}

.error h4 {
  margin: 0px;
}

.error i {
  margin-right: 0.5em;
}

.negative {
  color: red;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 200px;
  }
  }
